*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #6CD6F7;
    --cor1: #23C4F5;
    --cor2: #1B9BC2;
    --cor3: #346675;
    --cor4: #105E75;
}
body{
    margin: 0px;
    background-color: var(--cor0);  
}
header{
    background-image: linear-gradient(var(--cor0), var(--cor4));
    padding-top: 30px;
    padding-bottom: 8px;
}
main{
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 320px;
    max-width: 800px;
    margin: auto;
}
h2{
    font-family: idroid;
    color: var(--cor4);
    padding-left: 10px;
}
p{
    padding-left:10px; 
    padding-right:10px;
}
aside{
    background-color: var(--cor0);  
    border-radius: 6px;
    margin: auto;
    width: 100%;
}
aside > h3{
    background-color: var(--cor1);
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: justify;
}
aside > ul{
    width: 100%;
}
li::marker{
    text-align: center;
}
footer{
    text-align: center;
    background-color: #1c2142;
    color: white;
}
footer>p{
    margin-bottom: 0px;
}
span{
    color: #14FDE1;
}
nav{
    background-image: linear-gradient(#105E75, #105E75);
    padding-bottom: 8px;
    padding-top: 8px;
}
img{
    width: 100%;
}
li:hover{
    text-decoration: underline;
    color: #0d8678;
}
.cabeçalho{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    color: #f5f8f9;
    text-decoration: none;
    margin-left: 5px;
}
.cabeçalho:hover{
    background-color: #14e3ba24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 5px 2px rgb(54, 12, 144)
}
.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f8f9;
}
.conteudo{
    font-family: idroid;
    background-image: linear-gradient(to right, #56dec3, white);
    color: #3706a9;
    margin-left: 8px;
}
.sites{
    background-image: linear-gradient(to right, #56dec3, #a9fbeb);
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.sites::after{
    content: ' 🤖';
}
.sites:hover{
    text-decoration-line: underline;
}